chroot-*
qubes-src
base_rpms_fc21/*

builder*.conf
setup*.conf
*.conf.old

keyrings/
keys_*/*-secring.gpg
keys_*/*-pubring.gpg

rpm/
mnt_archlinux_dvd/
windows-prereqs/
windows-sources.img

qubes-rpms-mirror-repo/repodata
qubes-rpms-mirror-repo/*/repodata/*
qubes-rpms-mirror-repo/*/dists
qubes-rpms-mirror-repo/*/deb
