<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Bundle Version="$(env.CORE_VERSION)" UpgradeCode="876f3505-e0d0-4e72-b93b-00472eca2682">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication
            LicenseFile="license.rtf"
            LogoFile="qubeslogo.png"
            SuppressOptionsUI="yes"
            />
        </BootstrapperApplicationRef>
        <Chain>
            <MsiPackage Id="GPL_PV_Drivers_for_Windows_7x64"
              SuppressSignatureVerification="yes"
              SourceFile="winpvdrivers\gplpv_Win7x64_$(env.GPLPV_VERSION).msi"
                EnableFeatureSelection="yes"
                Name="GPL PV Drivers for Windows"
                InstallCondition="VersionNT64 AND VersionNT >= v6.1"
                />
            <MsiPackage Id="GPL_PV_Drivers_for_Windows_Vista2008x64" 
              SuppressSignatureVerification="yes"
              SourceFile="winpvdrivers\gplpv_Vista2008x64_$(env.GPLPV_VERSION).msi"
                EnableFeatureSelection="yes"
                Name="GPL PV Drivers for Windows"
                InstallCondition="VersionNT64 AND VersionNT >= v6.0 AND VersionNT &lt; v6.1"
                />
            <MsiPackage Id="GPL_PV_Drivers_for_Windows_2003x64" 
              SuppressSignatureVerification="yes"
              SourceFile="winpvdrivers\gplpv_2003x64_$(env.GPLPV_VERSION).msi"
                EnableFeatureSelection="yes"
                Name="GPL PV Drivers for Windows"
                InstallCondition="VersionNT64 AND VersionNT >= v5.2 AND VersionNT &lt; v6.0"
                />
            <MsiPackage Id="GPL_PV_Drivers_for_Windows_7x32" 
              SuppressSignatureVerification="yes"
              SourceFile="winpvdrivers\gplpv_Win7x32_$(env.GPLPV_VERSION).msi"
                EnableFeatureSelection="yes"
                Name="GPL PV Drivers for Windows"
                InstallCondition="NOT VersionNT64 AND VersionNT >= v6.1"
                />
            <MsiPackage Id="GPL_PV_Drivers_for_Windows_Vista2008x32" 
              SuppressSignatureVerification="yes"
              SourceFile="winpvdrivers\gplpv_Vista2008x32_$(env.GPLPV_VERSION).msi"
                EnableFeatureSelection="yes"
                Name="GPL PV Drivers for Windows"
                InstallCondition="NOT VersionNT64 AND VersionNT >= v6.0 AND VersionNT &lt; v6.1"
                />
            <MsiPackage Id="GPL_PV_Drivers_for_Windows_2003x32" 
              SuppressSignatureVerification="yes"
              SourceFile="winpvdrivers\gplpv_2003x32_$(env.GPLPV_VERSION).msi"
                EnableFeatureSelection="yes"
                Name="GPL PV Drivers for Windows"
                InstallCondition="NOT VersionNT64 AND VersionNT >= v5.2 AND VersionNT &lt; v6.0"
                />
            <!-- XP (v5.1) have only 32bit version -->
            <MsiPackage Id="GPL_PV_Drivers_for_Windows_XP" 
              SuppressSignatureVerification="yes"
              SourceFile="winpvdrivers\gplpv_XP_$(env.GPLPV_VERSION).msi"
                EnableFeatureSelection="yes"
                Name="GPL PV Drivers for Windows"
                InstallCondition="VersionNT >= v5.1 AND VersionNT &lt; v5.2"
                />

            <MsiPackage Id="Qubes_Agent_for_Windows_x64" 
              SuppressSignatureVerification="yes"
              SourceFile="core\win\qubesagent_Win7x64_$(env.CORE_VERSION).msi"
                EnableFeatureSelection="yes"
                Name="Qubes Agent for Windows"
                InstallCondition="VersionNT64"
                />
            <MsiPackage Id="Qubes_Agent_for_Windows_x32" 
              SuppressSignatureVerification="yes"
              SourceFile="core\win\qubesagent_Win7x32_$(env.CORE_VERSION).msi"
                EnableFeatureSelection="yes"
                Name="Qubes Agent for Windows"
                InstallCondition="NOT VersionNT64"
                />
        </Chain>
    </Bundle>
</Wix>
